/* #region Commons */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, serif;
  min-width: 1440px;
}

.d-flex {
  display: flex;
}

.container-w {
  max-width: 1152px;
  width: 80%;
  margin: auto;
}

.container-s {
  max-width: 992px;
  width: 70%;
  margin: auto;
}

:root {
  --drop-primary: #0061fe;
  --drop-primary-soft: #b4d0e6;
  --drop-lighter: #ffff;
  --drop-light: rgb(141, 141, 141);
  --drop-dark: black;
}


ul {
  list-style: none;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  padding: 1rem 0;
}

h5{
  font-size: 1rem;
}


a {
  text-decoration: none;
}

.bordered {
  border: 0.5px solid rgb(206, 202, 202);
}

.bordered-bottom {
  border-bottom: 0.5px solid var(--drop-light);
}


.btn-primary {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--drop-primary);
  color: var(--drop-lighter);
  font-weight: 200;
}

.btn-secondary {
  padding: 0.5rem 0.75rem;
  background-color: transparent;
  color: rgb(71, 71, 71);
  border: 1px solid rgb(71, 71, 71);
}


/* #endregion Commons */

/* Debug */
.debug {
  * {
    border: 1px dashed;
  }

  .row {
    background: rgba(157, 99, 214, 0.712);
  }

  [class^="col"] {
    background-color: rgba(255, 166, 0, 0.616);
  }

  .site-header {
    background-color: red;

    nav {
      background-color: rgba(108, 139, 21, 0.979);
      color: white;
    }
  }



}

/* #region Header */

.site-header {
  background-color: var(--drop-lighter);
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 4;
  box-shadow: 0 0 5px var(--drop-light);

  nav {
    padding: 0 1rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .logo{
      margin-right: 1.5rem;
    }

    ul {
      display: flex;
      gap: 1rem;
      align-items: center;

      li{ 
        padding: 1rem;
        border-bottom: 2px solid transparent;

        &:hover{
          border-bottom: 2px solid var(--drop-primary);
        }
      }

    }

    a {
      font-size: 14px;
      color: var(--drop-dark);
    }

    .left , .right{
      align-items: center;

      .btn-primary{
        color: var(--drop-lighter);
        margin-left: 1rem;
        padding: 0.5rem 1rem;
      }
    }

  }
}

/* #endregion Header */

/* #region main */

/* jumbotron */

#jumbotron {
  position: relative;
  padding-top: 8rem;
  background-color: var(--drop-primary-soft);
  height: 665px;

  h1 {
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 2rem;
  }

  .col-4 {

    p {
      padding: 0.5rem 0;
      line-height: 1.25rem;
    }

    .disclaimer {
      margin-top: 2rem;
    }   
  }

  img{
    width: 100%;
  }

  .scroll-down{
    position: absolute;
    bottom:10px;
    
    a{
     font-size: 3rem;
     color: var(--drop-dark);
    }
    
  }
}

/* plans */

#plans {

  display: flex;
  margin-top: 10rem;
  margin-bottom: 1rem;

  .billing {
    display: flex;
    gap: 2rem;
    padding: 3rem 0 2rem 0;

    .monthly , .annualy{
      display: flex;
      gap: 0.25rem;
    }

    .monthly{
      i{
        color: var(--drop-primary);
      }
    }

    .annualy{
      i{
        color: var(--drop-light);
      }
    }
  }

  .col-4 {
    display: flex;
  }

  .card-title {
    text-align: center;
    padding: 0.5rem 1.5rem;
  }

  .card-details {
    padding: 2rem 1.75rem;
    line-height: 1.5rem;

    .price{
      font-size: 14px;
      font-weight: 700;
    }

    .price-detail {
      padding: 0.51rem 0;
      color: var(--drop-light);
      font-size: 14px;
    }

    .btn-primary{
      width: 100%;
      text-align: center;
    }

  }

  ul {
    margin: 2rem 0;
    font-size: 14px;
    line-height: 1.5rem;

    li{
      display: flex;
      gap: 1rem;
      align-items: baseline;
    }
  }

  .shop-now {
    margin-top: 2rem;

    a {
      text-decoration: underline;
      color: var(--drop-primary);
    }
  }

  hr {
    margin: 2rem 0;
    width: 3.5rem;
    color: var(--drop-light);
  }

  .plans-resume{
    i{
      color: var(--drop-primary);
      font-size: 1rem;
    }
  }

}

.col-12 {

  .card-details {
    display: flex;
    justify-content: space-between;
  }

  .card-text {
    width: 70%;
    padding: 1rem 0;

    .price{
      margin-top: 0.5rem;
      margin-bottom: 2.5rem;
    }
  }



}


/* partner */

#partner {
  margin: 7rem 0;

  .col-5 {
    padding: 2rem 2rem;

    p {
      margin-bottom: 2rem;
    }

  }
}


/* tools */

#tools {
  .row {
    margin-top: 2rem;
    margin-bottom: 5rem;
  }

  .card-tool {
    p {
      padding: 0.75rem 0;
      font-size: 14px;
      line-height: 1.25rem;
    }
  }
}

#client {
  margin: 4rem 0;

  .container-s {
    a {
      text-decoration: underline;
      color: var(--drop-primary);
      display: inline-block;
      margin: 3rem 0;
    }
  }

}



footer {

  background-color: var(--drop-dark);
  color: var(--drop-light);

  .d-flex {
    justify-content: space-between;
  }

  ul {
    padding: 2rem 0;
    line-height: 2rem;
    font-size: 12px;

    h4 {
      color: var(--drop-lighter);
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }


}