/* #region Commons */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:Roboto, serif
}

.d-flex{
  display: flex;
}

.container-w{
  width: 80%;
  margin: auto;
}

.container-s{
  width: 70%;
  margin: auto;
}

:root{
  --drop-primary:#0061fe;
  --drop-primary-soft:#b4d0e6;
  --drop-lighter:#ffff;
  --drop-dark:black;
}

.btn-primary{
  background-color: var(--drop-primary);
  padding: 0.5rem 0.75rem;
  color: var(--drop-lighter);
}

/* #endregion Commons */

/* Debug */
.debug{
  *{
    border: 1px dashed;
  }

  .row{
    background: rgba(157, 99, 214, 0.712);
  }

  [class^="col"]{
    background-color: rgba(255, 166, 0, 0.616);
  }

  .site-header{
    background-color: red;

    nav{
      background-color: rgba(108, 139, 21, 0.979);
      color: white;
    }
  }



}

/* #region Header */

.site-header{
  background-color: var(--drop-lighter);
  min-height: 70px;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 4;

  nav{
    padding: 0 1rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    ul{
      display: flex;
      list-style: none;
      gap: 1.5rem;
      align-items: center;
    }

   a{
    font-size: 0.75;
    text-decoration:none;
    color: var(--drop-dark);
   }

   .right .btn-primary{
    color: var(--drop-lighter);
   }

  }
}
/* #endregion Header */

/* #region main */

#jumbotron
{
  padding-top:5rem ;
  background-color:var(--drop-primary-soft) ;
}


footer{
 .d-flex{
  justify-content: space-between;
 }


}


